@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@layer base {
    
    *, *:before, *:after {
        box-sizing: inherit;
        font-family: 'Inter', sans-serif;
      }
    
    html{
     @apply box-border
    }

    body{
      @apply bg-[#ecf0f3] box-border
    }
    
    input {
      @apply p-3 rounded-lg focus:outline-none
    }
    textarea {
      @apply p-4 rounded-xl text-lg resize-none focus:outline-none h-20
    }
    label {
      @apply text-slate-900 text-lg
    }

    .btn {
        @apply uppercase rounded-md px-5 py-2 bg-cyan-600 text-white hover:bg-white hover:text-cyan-600 duration-500 ease-linear border-2 border-cyan-700
    }

  }
  
.imgabout {
  border-radius: 89% 11% 90% 10% / 45% 58% 42% 55% 
}



